[package]
name = "aoc-2024"
version = "0.1.0"
edition = "2021"

[dependencies]
itertools.workspace = true
nom = "7.1.3"
rayon = "1.10.0"
rustc-hash = "2.1.0"

[dev-dependencies]
test-case = "3.3.1"

[profile.release]
lto = "fat"
codegen-units = 1
panic = "abort"
